.label {
    display: flex;
    gap: 0.5rem;
}

.error {
    color: var(--ColorError);
}

.ok {
    color: var(--ColorSuccess);
}

.filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal {
    max-width: 450px;
    border-radius: 10px;
    background-color: var(--ColorWhite);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 90%;
    padding: 1rem 1rem 2rem;
    display: grid;
    gap: 1rem;
}

.close {
    font-size: 1.3rem;
    display: grid;
    justify-self: right;
    cursor: pointer;
}

.modal h2 {
    font-size: 1.5rem;
}

.steps {
    display: grid;
    gap: 2rem;
}

.steps>div {
    display: grid;
    grid-template-columns: min-content auto;
    align-self: top;
    gap: 0.8rem;
}

.steps>div svg {
    font-size: 1.5rem;
}

.steps>div>p {
    align-self: center;
    color: var(--ColorGray_3);
}

.stepTwo {
    display: grid;
    gap: 0.6rem;
    max-width: 250px;
}

.stepTwo button {
    background-color: var(--ColorBlackBackground);
    color: var(--ColorWhite);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    justify-self: left;
}

.captchaContainer {
    transform: scale(0.6);
    transform-origin: 0 0;
    overflow: hidden;
    height: 65px;
    margin-top: 0.5rem;
    margin-bottom: -1.2rem;
}