.likes {
    height: min-content;
    display: grid;
    gap: 1rem;
}
.ButtonContainer {
    position: relative;
    overflow-x: auto; 
}
.articleContainer {
    overflow-x: auto; 
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}
.articleContainer::-webkit-scrollbar {
    display: none;
}
.articles {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap
}
.article {
    flex: 0 0 auto;
    width: clamp(150px, 35vw, 200px);
}

.article h3 {
    color: var(--ColorBlack);
    font-size: 0.7rem;
    margin: 0;
    margin-top: 0.3rem;
}