.main {
    margin-top: 2rem;
    background-color: var(--ColorWhite);
    color: var(--ColorBlack);
    color: var(--ColorBlack);
    padding: 1rem;
    justify-self: center;
    align-self: center;
    display: grid;
    gap: 1.5rem;
}

.main h1 {
    font-size: 1.5rem;
}

.paths {
    display: grid;
    gap: 1rem;
}

.paths>div {
    display: flex;
    gap: 0.3rem;
    justify-content: space-between;
}