.filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal {
    max-width: 450px;
    border-radius: 10px;
    background-color: var(--ColorWhite);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 90%;
    padding: 1rem 1rem 2rem;
    display: grid;
    gap: 1rem;
}

.close {
    font-size: 1.3rem;
    display: grid;
    justify-self: right;
    cursor: pointer;
}

.modal h2 {
    font-size: 1.3rem;
}