.main {
    padding: 1.5rem 0px;
    max-width: 1400px;
    width: 95%;
    justify-self: center;
}

.main h2 {
    padding: 1rem 0px;
    margin-bottom: 1.5rem;
}

.articleContainer {
    background-color: var(--ColorWhiteBackground);
    border-radius: 15px;
    padding: 1.5rem;
    box-shadow: 0px 0px 0.5rem #3e3e3e;
}

.metaData {
    display: grid;
    gap: 1.5rem;
    margin: 2rem 0;
    padding: 1.5rem;
    background-color: var(--ColorGray_1);
    border-radius: 10px;
}

.metaItem {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    align-items: flex-start;
}
.timeInputContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.timeInput {
    width: 60px;
    padding: 0.5rem;
    border: 1px solid var(--ColorGray_3);
    border-radius: 5px;
    text-align: center;
}
/* Добавьте в page.module.css */
.toggle {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.formGroup {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.formGroup label {
    margin-right: 10px;
}


@media (max-width: 768px) {
    .metaItem {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .metaItem label {
        width: 100%;
    }
    
}