/* Базовый стиль для мобильных (самый маленький размер) */
.captchaContainer {
    position: relative;
    transform-origin: top left;
    height: calc(100px * 0.7);
    width: calc(300px * 0.7);
    transform: scale(0.7);
}

@media (min-width: 340px) {
    .captchaContainer {
        height: calc(100px * 0.75);
        width: calc(300px * 0.75);
        transform: scale(0.75);
    }
}

@media (min-width: 380px) {
    .captchaContainer {
        height: calc(100px * 0.80);
        width: calc(300px * 0.80);
        transform: scale(0.80);
    }
}

@media (min-width: 420px) {
    .captchaContainer {
        height: calc(100px * 0.85);
        width: calc(300px * 0.85);
        transform: scale(0.85);
    }
}

@media (min-width: 460px) {
    .captchaContainer {
        height: calc(100px * 0.9);
        width: calc(300px * 0.9);
        transform: scale(0.9);
    }
}
@media (min-width: 480px) {
    .captchaContainer {
        height: calc(100px * 0.95);
        width: calc(300px * 0.95);
        transform: scale(0.95);
    }
}
@media (min-width: 576px) {
    .captchaContainer {
        height: calc(100px * 1);
        width: calc(300px * 1);
        transform: scale(1);
    }
}